body
{
background-color:#6F605A;
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0px auto auto auto;
color:#000000;
}
#titleimg
{
height:180px;
width:900px;
background:url('../Images/title.jpg');
background-repeat:no-repeat;
}
#menu
{
margin-left:0px;
margin-bottom:0;
padding:140px 0 0 0;
}
#menu ul
{
margin-left:0px;
margin-bottom:0;
}
#menu li{
position: relative;
float: left;
list-style: none;
}
#menu li a
{
width:140px;
height: 30px;
display: block;
text-decoration:none;
line-height: 30px;
font-weight: bold;
font-size: 16px;
color:#fff;
}
#menu li a:hover{
background-position: bottom center;
letter-spacing:2px;
color:#f7a849;
}
#menu ul ul
{
padding:0;
position: absolute;
visibility: hidden;
background: url(../Images/category.jpg);
background-repeat:repeat-y;
}
#menu ul li:hover ul{
visibility:visible;
}
.categoryimg
{
background:url('../Images/category.jpg');
}
.categoryimg a
{
margin-left:10px;
text-decoration:none;
text-align:center;
color:#fff;
font-size:14px;
line-height:25px;	
}
.categoryimg a:hover{
color:#f7a849;
letter-spacing:1px;
}
.categoryimg h1
{
padding: 5px;
margin: 0 0 10px 0;
font-size: 25px;
color: #cbc750;
border-bottom: 2px dotted #cbc750;
}
.categoryimg h3
{
padding:0;
margin:0px 0px 0px 0px;
font-size: 14px;
color: #cbc750;
}
.ad
{
padding:10px;
margin:0px auto auto 0px;
}
.content
{
background:url('../Images/center.gif');
}
.content h1
{
color:#000099;
font-size:24px;
}
.content h3
{
margin:5px 0px 0px 0px;
color:#9D5A30;
font-size:20px;
text-align:right;
padding:0;
}
.content h5
{
margin:5px 0px 0px 0px;
color:#9D5A30;
font-size:16px;
padding:0;
}
.signup
{
margin-left:10px;
text-decoration:none;
text-align:center;
color:#cbc750;
font-size:18px;
line-height:25px;	
}
.signup:hover{
color:#f7a849;
letter-spacing:1px;
}
.aboutus
{
text-align:justify;
font-size:18px;
color:#9D5A30;
margin-left:100px;
margin-right:100px;
}
.helph1
{
font-size: 22px;
color: #f7a849;
}
.helph3
{
font-size: 18px;
color: #cbc750;
}
.helptext
{
text-align:justify;
font-size:16px;
color:#9D5A30;
margin-left:50px;
margin-right:50px;
}